a{
    margin:15px;
    margin-right: 200px;
    padding: 20px;
    margin-left: 200px;
    background-color: rgba(110,191,193,0.6);
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #F3E3E3;
    font-family: fantasy;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
}

a:hover{
    background-color: rgba(67,135,187,0.7);
    transition: all 500ms ease;
    font-size: 20px;
}
body {
    background-image:url(paris.jpg);
    background-repeat: no-repeat;
}
p {
    background-color: rgba(67,135,187,0.7);
    border-bottom: 5px solid rgba(119,106,163,0.6);
    width: 50%;
    font-size: 20px;  
    border-radius: 10px;
    color: #F3E3E3;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    
}